<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://kit.fontawesome.com/8b9a028f85.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Gloria Hallelujah' rel='stylesheet'>
</head>

<body>
    <nav id="navbar">
        <div class="heading">
            <!-- <img src="assets/images/logo.png" alt="img" height="50" width="50"> -->
            <h4>SLR Parser</h4>
            <p>by Ram Koirala</p>
        </div>
        <ul class="nav-links">
            <li><a href="#home" class="active">Home </a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>

    <div class="page">
        <section class="home-section" id="home">
            <!-- <img src="assets/images/background.png" alt="Logo Image"> -->
            <form action="/submit" method="post" class="formss">
                <br>
                <br>
                <label for="grammartext" class="textcss">Grammar:</label>
                <textarea placeholder="Enter the grammar." id="grammartext" name="grammartext"
                    rows="6">{{grammar_text}}</textarea>
                <div class="tokenarea">
                    <h3>Input(tokens)</h3>
                    <textarea placeholder="Enter the token." id="inputtoken" name="inputtoken"
                    rows="1">{{input_string}}</textarea>
                </div>
               
                <div class="buttons">
                    <input type="submit" value="Submit" class="btn">
                    <button type="button" class="btn" onclick="addTextToTextarea()">Sample Grammar</button>
                </div>
                
                <br>
            </form>

            {% if not augmentedgrammar %}
            <div class="how-to">
                <br>
                <br>
                <h3 class="textcss">
                    How to Add Grammar.
                </h3>
                <ol>
                    <li>Write each production rule in seperated line.</li>
                    <li>Seperate each token using whitespace.</li>
                    <li>Add the real grammar not the augmented one.</li>
                    <li>Use # for ε.</li>
                    <li>You can see the sample grammar by clicking on the sample grammar button.</li>
                    <!-- <li>For the token : <ol type="i"    >
                        <li>Enter the input tokens by sperating each token with space.</li>
                    </ul></li> -->
                    <li>Enter the input tokens by sperating each token with space.</li>
                </ol>
            </div>
            {% endif %}

            {% if augmentedgrammar %}
            <div class="augmentedgrammar">
                <br>
                <br>
                <h3 class="textcss">Augmented Grammar</h3>
                <br>
                {% for item in augmentedgrammar %}

                <p>{{ item[0] }} -> {{ item[1][0] }} {% for symbol in item[1][1:] %}{{ symbol }} {% endfor %}</p>
                <br>

                {% endfor %}
            </div>
            {% endif %}

            {% if data %}
            <div class="first-follow">
                <br>
                <br>
                <h3 class="textcss">First Follow Table</h3>
                <br>
                <table border="1">
                    <tr>
                        <td class="textsmall">Non Terminals</td>
                        <td class="textsmall">First</td>
                        <td class="textsmall">Follow</td>
                    </tr>
                    {% for item in data %}
                    <tr>
                        <td>{{ item[0]}}</td>
                        <td>{{ item[1]}}</td>
                        <td>{{item[2]}}</td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
                {% endif %}


                {% if terminal %}
                <div class="parsingtable">
                    <br>
                    <br>
                    <h3 class="textcss">Parsing Table</h3>
                    <br>
                    {% set row_idx = 0 %}
                    <table border="1">
                        <tr>
                            <th colspan="{{terminal|length + nonterminal|length + 2}}">SLR Parsing table</th>
                        </tr>
                        <tr>
                            <th rowspan="2">State</td>
                            <th colspan="{{terminal|length +1}}">Action</th>
                            <th colspan="{{nonterminal|length}}">GoTO</th>
                        </tr>
                        <tr>
                            {% for t in terminal %}
                            <th>{{ t }}</th>
                            {% endfor %}
                            <th>$</th>
                            {% for nt in nonterminal %}
                            <th>{{ nt }}</th>
                            {% endfor %}
                        </tr>
                        {% for row in table %}
                        <tr>
                            <td>{{ 'I' + (loop.index -1 )|string }}</td>
                            {% for entry in row %}
                            <td>{{ entry }}</td>
                            {% endfor %}
                        </tr>
                        {% set row_idx = row_idx + 1 %}
                        {% endfor %}
                    </table>

                </div>
                {% endif %}

                <!-- Add this section to display parsing steps -->
                <!-- {% if parsing_steps %}
                <div class="parsing-steps">
                    <br>
                    <br>
                    <h3 class="textcss">Parsing Steps</h3>
                    <br>
                    <table border="1">
                        <tr>
                            <th>Step</th>
                            <th>State</th>
                            <th>Action</th>
                            <th>Symbol</th>
                            <th>Next State</th>
                        </tr>
                        {% for step in parsing_steps %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ step[0] }}</td>
                            <td>{{ step[1] }}</td>
                            <td>{{ step[2] }}</td>
                            <td>{{ step[3] if step[1] != 'Accept' else '' }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}  -->
                <!-- important -->
                <!-- Add this section to display parsing stack -->
                <!-- {% if parsing_steps %}
                <div class="parsing-stack">
                    <br>
                    <br>
                    <h3 class="textcss">Parsing Stack</h3>
                    <br>
                    <table border="1">
                        <tr>
                            <th>Step</th>
                            <th>State</th>
                            <th>Action</th>
                            <th>Symbol</th>
                            <th>Next State</th>
                        </tr>
                        {% for step in parsing_steps %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ step[0][0] }}</td>
                            <td>{{ step[0][2] }}</td>
                            <td>{{ step[0][1] }}</td>
                            <td>{{ step[1] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %} -->

                {% if parsing_steps %}
                <div class="parsing-stack">
                    <br>
                    <br>
                    <h3 class="textcss">Parsing Stack</h3>
                    <br>
                    <table border="1">
                        <tr>
                            <th>Step</th>
                            <th>Stack</th>
                            <th>Symbol</th>
                            <th>Action</th>
                            <!-- <th>Next State</th> -->
                        </tr>
                        {% for step in parsing_steps %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ step[0][0] }}</td>
                            <td>{{ step[0][1] }}</td>
                            <td>{{ step[0][2] }}</td>
                            <!-- <td>{{ step[0][3] }}</td> -->
                            
                            <!-- <td>{{ step[1] }}</td> -->
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
        </section>
    </div>

    <!-- <footer class="footer">
        <p>
            &copy;
            All Rights Reserved
        </p>
        <div class="social-icons">
            <a href=""><i class="fa-brands fa-facebook" style="color:black"></i></a>
            <a href=""><i class="fa-brands fa-instagram" style="color:black"></i></a>
            <a href=""><i class="fa-brands fa-twitter" style="color:black"></i></a>
            <a href=""><i class="fa-brands fa-pinterest" style="color:black"></i></a>
            <a href=""><i class="fa-brands fa-youtube" style="color:black"></i></a>
        </div>
    </footer> -->
</body>

</html>